body {
}

.menu {
  margin: 1% auto;
  text-align: center
}

.menu_link {
  margin-right: 10px;
  font-size: 22px;
}

.main {
  margin: 16% auto;
  text-align: center;
}
.main_header {
  font-size: 30px;
}

.main_lead_text {
  font-size: 28px;
}

.main_text {
  font-size: 38px;
  font-weight: bold;
}
